@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our JokesWebApplication</h1>
    <p> <a >building ULK Webapps with ASP.NET Core</a>.</p>
</div>
