@{
    ViewData["Title"] = "Please Accept Our Treams and Condition To use Privacy Policy For Application";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Demo for the JokesWebApplication of ULK</p>
